doctype html
html
  head
    title WebMusic
    style
      include ../static/style.css
  body
    nav#navbar.top
       ul
           div#logo
               img(src="static/img/logo.gif")
           li #[a(href="/") Home]
           li #[a(href="/") Artist]
           li #[a(href="/") Album]
           li #[a(href="/") Events]
           li #[a(href="/") Tabs]
           li #[a(href="/") Music store]

    section#introsection
         div Feel the music
         div.small We want you to feel like you belong here and can thrive here


    section#premiumSection
         h3#prem Go Premium
         div.card
            h3 Enjoy nonstop ad-free music listening.
            div.card-box
                //- div.card-img
                //-     img(src="/static/img/1.jpg")
                div.card-content
                    p This is amazing...

         div.card1
            h3 Take your playlists, music, and podcasts anywhere, no Wi-Fi needed. 
            div.card-box
                //- div.card-img
                //-     img(src="/static/img/1.jpg")
                div.card-content
                    p This is Greath...

    section#cultureSection
         h3#cul Connect with music culture

    footer#footer
         | footer here

    script
      include ../static/index.js