*{
    margin: 0;
    padding: 0;
}
body{
    background: url('img.png') no-repeat center center fixed;
    background-size: cover;  
}

.left{
    display: inline-block;
    position: absolute;
    background-color: white;
    left: 20px;
    top: 10px;
}
.left img{
    width: 80px;
}

.navigation{  
    font-family: 'Lato', sans-serif;
    display: flex;
   margin:0px 120px;
}

li{
    color: rgba(255, 255, 255, 0.897);
    border-radius: 30px;
    list-style: none;
    padding: 0px 4px;
    display: block;
    margin: 30px 16px ;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
}
li:hover{
  background-color:rgba(255, 255, 255, 0.897);
  color: rgba(0, 0, 0, 0.863);  
}

.right{
    position: absolute;
    right: 34px;
    top: 28px;
    display: inline-block;
    padding: 0px 20px;
}
/* ________________________________________________________________________ */
   .conser{   
    width: 22%;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 97%;
    left: 77%;
}

.conser h2{
   width: 59%;
   color: white;
   font-size: 25px;
   position: absolute;
   margin-bottom: 0px 330px;
   padding: 3px 0px;
   bottom: 30%;
   right: 37%;
   font-family: 'Lato', sans-serif;
}

.conser button{
    width: 50%;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;   
    font-size: 20px;
    background-color: rgba(37, 36, 36, 0.63);
    color: white;
    border: 1px solid rgba(37, 36, 36, 0.63);
    padding: 10px 18px;
}
.conser button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
}
.box7{
    width: 10%;
    margin: 22px 0px;
}
.box7 i{
    width: 25px;  
    float: left;
} 
    /* _____________________________________________________ */
.container{
    border: 1px solid rgba(255, 255, 255, 0.959);
    width: 22%;
    background-color: #e7e0e0;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 15%;
    left: 37%;
}

.container h1{
    width: 82%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.788);
    font-size: 30px;
    border-bottom: 5px solid rgb(197, 66, 66) ;
    margin-bottom: 33px;
    padding: 13px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 750;
}

.container h4{
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.692);   
}

.box{
    width: 100%;
    border-bottom: 1px solid rgb(104, 168, 104);
    margin: 22px 0px;
}

.box input{
    /* background: none; */
    width: 75%;
    /* margin: 13px 0px; */
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
}

.box i{
    width: 25px;  
    /* float: left; */
    text-align: center;
}

.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 8px 21px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 20px;
    /* background: none; */
    background-color: gray;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btn:hover{
    color:  white;
    opacity: 0.8;
}

h3:hover{
    color: red;
    cursor: pointer;
}

.box1{
    width: 100%;
    margin: 22px 0px;
}

.box1 i{
    width: 25px;  
    /* float: left; */
    text-align: center;
}

.btn1{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 78px;
    border-radius: 30px;
    border: 1px solid  rgb(80, 80, 172);
    font-size: 20px;
    /* background: none; */
    background-color: rgb(80, 80, 172);
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btn1:hover{   
    opacity: 0.8;   
}

.btn2{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 90px;
    border-radius: 30px;
    border: 1px solid  cornflowerblue;
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btn2:hover{   
    opacity: 0.7;   
}

.btn3{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 90px;
    border-radius: 30px;
    border: 1px solid rgb(190, 53, 35);
    font-size: 20px;   
    background-color: rgb(190, 53, 35);
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btn3:hover{   
    opacity: 0.7;   
} 
  /* __________________________________________________________ */

.btn5{
    cursor: pointer;
    outline: none;
    margin: 12px 17px;
    padding: 12px 21px;
    border-radius: 7px;
    border: 2px solid white;
    font-size: 20px; 
    background-color: rgba(128, 128, 128, 0.466);
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.btn5:hover{
    opacity: 0.5;
}

.btn6{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 12px 21px;
    border-radius: 7px;
    font-size: 20px;  
    background-color: white;
    border: 1px solid white;
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

a[target]{
    color: white;
    /* outline: none; */
}

A {text-decoration: none;}