*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgb(0, 0, 0);
    font-family: 'Yeon Sung' ;
    padding: 18px 23px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center;  */
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    text-decoration: none;
    padding: 13px 20px;
    color: white;
}
#navbar li a:hover{
    color: rgb(11, 125, 11);  
}

#introsection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background:  center / cover no-repeat url("/static/bg.jpg");
    height: 325px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#introsection div.small{
    font-size: 20px;
    padding: 5px;
    color: rgb(10, 209, 10);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
#premiumSection{
    height: 250px;
    text-align: center;
    padding-top: 12px;
    background-color: #9327275b;
}
#prem{
    color: black;
}

#cultureSection{
    height: 250px;
    text-align: center;
    padding-top: 12px;
    background-color: black;
}
#cul{
    color: white;
    letter-spacing: 2px;
}
/* #footer{
    background-color: black;
    height: 100px;
} */

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 160px;
    display: inline-block;
    background-image: url('/static/img/1.jpg');
}
.card1{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 160px;
    display: inline-block;
    background-image: url('/static/img/2.jpg');
}

.card h3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}
.card1 h3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
#logo img{
    height: 42px;
    /* filter: invert(); */
}

.card-box{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.card-img{
    height: 100px;
    padding: 0 14px;
}

.card-img img{
    height: inherit;
}